<h1>Welcome Home</h1>
<p>{{ devices }}</p>

<div class="control">
  <div class="todo">
    {%for key, value in tasks%}
    <form action="{{ url_for('index') }}" method="POST">
      <input type="hidden" name="deletetask" value="{{key}}"><br>
      <button type submit class="button-large">Delete</button>
    </form>
    
    <p>{{value}}</p>
    {%endfor%}
  </div>

  <form action="{{ url_for('index') }}" method="POST">
    <input type="text" name="addtask" value=""><br>
    <button type submit class="button-large">Submit</button>
  </form>
</div>


<div class="remote">
    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="PowerOn" />
        <button type submit class="button-large">Power On</button>
    </form>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="PowerOff" />
        <button type submit class="button-large">Power Off</button>
    </form>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="Back" />
        <button type submit class="button-large">Back </button>
    </form>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="Home" />
        <button type submit class="button-large">Home </button>
    </form>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="VolumeUp" />
        <button type submit class="button-large">+ </button>
    </form>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="VolumeDown" />
        <button type submit class="button-large">- </button>
    </form>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="VolumeMute" />
        <button type submit class="button-large">Mute </button>
    </form>

    <div class="grid">
        <form action="{{ url_for('index') }}" class="up" method="POST">
          <input type="hidden" name="remote" value="Up" />
          <button type submit class="button-large">Up </button>
        </form>
        <form action="{{ url_for('index') }}" class="left" method="POST">
          <input type="hidden" name="remote" value="Left" />
          <button type submit class="button-large">Left</button>
        </form>
        <form action="{{ url_for('index') }}" class="ok" method="POST">
          <input type="hidden" name="remote" value="Select" />
          <button type submit class="button-large">OK</button>
        </form>
        <form action="{{ url_for('index') }}" class="right" method="POST">
          <input type="hidden" name="remote" value="Right" />
          <button type submit class="button-large">Right</button>
        </form>
        <form action="{{ url_for('index') }}" class="down" method="POST">
          <input type="hidden" name="remote" value="Down" />
          <button type submit class="button-large">Down</button>
        </form>
      </div>

      <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="Rev" />
        <button type submit class="button-large"><- </button>
    </form>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="Play" />
        <button type submit class="button-large">|> </button>
    </form>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="hidden" name="remote" value="Fwd" />
        <button type submit class="button-large">-> </button>
    </form>
</div>



<div class="lights">
  {%for key, light in lights.items()%}
  <p>{{ light['name'] }}</p>
  <form action="{{ url_for('index') }}" method="POST">
    <input type="hidden" name="toggle" value="{{key}}"><br>
    <button type submit class="button-large">Toggle</button>
  </form>
  {%endfor%}
</div>



<style>
.remote{
  width: 33%;
  float: right;
}

.control{
  width: 66%;
  float: left;
}



    .grid {
  display: inline-flex;           /* 1 */
  flex-flow: row wrap;
}

.up, .down {
  flex: 0 0 100%;                 /* 2 */
  text-align: center;             /* 2 */
}

.left, .right {
  flex: 1 0 1%;                   /* 3 */
  display: flex;
}

.left  { justify-content: flex-end; }
.right { justify-content: flex-start; }

.ok {}
</style>