<h1>Welcome Home</h1>

<!-- <div class="devices">
  <p>{{ devices }}</p>
</div> -->

<div class="control" id="rcorners1">
  <div class="todo">
    <h3 style="margin-bottom: 0;">Todo List</h3>


    <div>
      <form action="{{ url_for('index') }}" method="POST">
        <input type="text" name="addtask" value="">
        <button type submit>Submit</button>
      </form>
    </div>
    

    {%for key, value in tasks%}
    <div style="margin-bottom: 0;">
      <div style="display: inline-block;">
        <form action="{{ url_for('index') }}" method="POST">
          <input type="hidden" name="deletetask" value="{{key}}"><br>
          <button type submit >Delete</button>
        </form>
      </div>
  
      <div style="display: inline-block;">
        <p>{{value}}</p>
      </div>
    </div>


    {%endfor%}




    

  </div>

</div>




<div class="remote" id="rcorners1">
    <h3 style="margin-bottom: 0;">Remote</h3>



    <div style="display: block; text-align: center; margin-top: 30px;">
      <form action="{{ url_for('index') }}" method="POST" style="display: inline;">
          <input type="hidden" name="remote" value="PowerOn" />
          <button type submit style="width: 40%; display: inline;">Power On</button>
      </form>

      <form action="{{ url_for('index') }}" method="POST" style="display: inline;">
          <input type="hidden" name="remote" value="PowerOff" />
          <button type submit style="width: 40%; display: inline;">Power Off</button>
      </form>
    </div>    


<div style="display: block; text-align: center; margin-top: 50px;">
  <form action="{{ url_for('index') }}" method="POST" style="display: inline;">
    <input type="hidden" name="remote" value="Back" />
    <button type submit>Back </button>
</form>

<form action="{{ url_for('index') }}" method="POST" style="display: inline;">
    <input type="hidden" name="remote" value="Home" />
    <button type submit>Home </button>
</form>
</div>


   

    <div class="grid">
        <form action="{{ url_for('index') }}" class="up" method="POST">
          <input type="hidden" name="remote" value="Up" />
          <button type submit>Up </button>
        </form>
        <form action="{{ url_for('index') }}" class="left" method="POST">
          <input type="hidden" name="remote" value="Left" />
          <button type submit>Left</button>
        </form>
        <form action="{{ url_for('index') }}" class="ok" method="POST">
          <input type="hidden" name="remote" value="Select" />
          <button type submit>OK</button>
        </form>
        <form action="{{ url_for('index') }}" class="right" method="POST">
          <input type="hidden" name="remote" value="Right" />
          <button type submit>Right</button>
        </form>
        <form action="{{ url_for('index') }}" class="down" method="POST">
          <input type="hidden" name="remote" value="Down" />
          <button type submit>Down</button>
        </form>
      </div>


    <div style="display: block; text-align: center; margin-top: 50px;">
      <form action="{{ url_for('index') }}" method="POST" style="display: inline;">
          <input type="hidden" name="remote" value="Rev" />
          <button type submit><- </button>
      </form>

      <form action="{{ url_for('index') }}" method="POST" style="display: inline;">
          <input type="hidden" name="remote" value="Play" />
          <button type submit>|> </button>
      </form>

      <form action="{{ url_for('index') }}" method="POST" style="display: inline;">
          <input type="hidden" name="remote" value="Fwd" />
          <button type submit>-> </button>
      </form>
    </div>



<div style="display: block; text-align: center; margin-top: 50px;">
  <form action="{{ url_for('index') }}" method="POST" style="display: inline;">
    <input type="hidden" name="remote" value="VolumeMute" />
    <button type submit>Mute </button>
</form>

  <form action="{{ url_for('index') }}" method="POST" style="display: inline;">
    <input type="hidden" name="remote" value="VolumeUp" />
    <button type submit>+ </button>
</form>

<form action="{{ url_for('index') }}" method="POST" style="display: inline;">
    <input type="hidden" name="remote" value="VolumeDown" />
    <button type submit>- </button>
</form>




</div>




</div>



<div class="lights" id="rcorners1">
  <h3 style="margin-bottom: 0;">Lights</h3>

  {%for key, light in lights.items()%}
  <div style="display: inline-block; padding-right: 25px;">
    <p style="margin-bottom: 0; display: inline-block;">{{ light['name'] }}</p>
    <form action="{{ url_for('index') }}" method="POST" style="margin-top: 0;">
      <input type="hidden" name="toggle" value="{{key}}" style="display: inline-block;"><br>
      <button type submit style="display: inline-block;">Toggle</button>
    </form>
  </div>

  {%endfor%}

</div>








<style>
.remote{
  height: 70%;
  width: 45%;
  float: right;
}

.control{
  width: 50%;
  float: left;
  margin: 5px;
}

.lights{
  width: 50%;
  float: left;
  margin: 5px;
}


.grid {
  display: inline-flex;           /* 1 */
  flex-flow: row wrap;
  width: 100%;
  margin-top: 50px;
}

.up, .down {
  flex: 0 0 100%;                 /* 2 */
  text-align: center;             /* 2 */
}

.left, .right {
  flex: 1 0 1%;                   /* 3 */
  display: flex;
}

.left  { justify-content: flex-end; }
.right { justify-content: flex-start; }

.ok {}











#rcorners1 {
  border-radius: 25px;
  background: #efefef;
  padding: 10px;
}








</style>